
nongnet/aT_data/.DS_Store
nongnet/test.html
predict_shutdown/넘블 챌린지 데이터/넘블 챌린지 개방데이터 레이아웃.xlsx
predict_shutdown/넘블 챌린지 데이터/넘블 챌린지 개방데이터 코드집.xlsx
predict_shutdown/넘블 챌린지 데이터/액티브 중소법인 재무보유.xlsx
predict_shutdown/넘블 챌린지 데이터/재무데이터.txt
predict_shutdown/넘블 챌린지 데이터/휴폐업 중소법인 재무보유.xlsx
